.home_container {
    row-gap: 7rem;
}
.home_content{
    grid-template-columns:1fr 1fr;
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home_social{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    row-gap: 1rem;
}


.home_social-icon{
    color: var(--title-color);
    font-size: 1.5rem;
    transition: all .2s ease-in-out; 
}

.home_social-icon:hover{
    color: rgb(115, 194, 228);
    transform: scale(1.1); 
}
.home_description{
    color:var(--title-color);
}

.home_title{
    color:aqua;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.home_hand{
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}


.dynamic-txt{
 	margin-left:0px; 
  height:90px;
  line-height:90px;
  overflow:hidden;
}

.dynamic-txt li{
  color:var(--text-color);
  list-style:none;
  top:0;
  position:relative;
  animation: slide 6s steps(4) infinite; 
}

@keyframes slide{
  100%{
    top:-360px;
  }
}



.dynamic-txt li span{
  position:relative;
}
.dynamic-txt li span::after {
  content:" ";
  position:absolute;
  height:100%;
  background:var(--body-color);
  left:0;
  top:2px;
  width:100%;
  border-left:2px solid var(--body-color);
  animation: typing 1.5s steps(27) infinite; 
}

@keyframes typing{
  100%{
    left:100%;
    margin:0 -35px 0 35px;
  }
}

.home_description{
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home_img{
    background: url(../../assets/prof.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    order: 1;
    justify-self: center;
    animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}



/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home_content{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home_hand{
        width: 26px;
        height: 26px;
    }

    .home_subtitle{
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }
    
    .home_subtitle::before{
        width: 60px;
        top: 2.7rem;
    }

    .home_description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home_img{
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
    }

    .home_scroll{
        margin-left: 7.5rem;
    }

    
}
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .home_content{
        grid-template-columns: 1fr;
        padding-top: 3.5rem;
    }

    .home_img{
        order: initial;
        justify-self: center;
        box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
        width: 200px;
        height: 200px;
        order:0;
    }

    .home_data{
        grid-column: 1/2;
    }

    .home_scroll{
        display: none;
    }
}
  
  /* For small devices */
  @media screen and (max-width: 576px) {
    .home_content{
        grid-template-columns: 1fr;
        padding-top: 3.5rem;
    }
    .home_img{
        height: 180px;
        width: 180px;
        order: 0;
    }

    .home_hand{
        width: 22px;
        height: 22px;
    }
}
